<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books information</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles2.css" />
    <link rel="stylesheet" href="css/btnModelStyle.css" />
    <link rel="stylesheet" href="css/successModal.css" />
    <script
      src="https://kit.fontawesome.com/b55d7e5cd9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="" class="bg-white">
        <!-- NAVBAR -->
        <nav class="navbar navbar-black bg-black fixed-top mb-5">
          <div class="container-fluid">
            <div class="d-flex flex-row align-items-center">
              <a class="navbar-brand text-white" href="/Home"
                ><h1 class="display-6">Biblos</h1></a
              >
              <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item m-2">
                  <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="/Home"
                    >Home</a
                  >
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/BooksIndex"
                    >Books</a
                  >
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/Favorites"
                    >Favorites</a
                  >
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/UserSells">Mis compras</a>
                  </li>
                <% if( session.Role === "Admin") { %>
                  <li class="nav-item m-2">
                    <a class="nav-link active text-white" href="/AdminSells">Ventas</a>
                  </li>
                  <li class="nav-item m-2">
                    <a class="nav-link active text-white" href="/"
                      >admin. users</a
                    >
                  </li>
                  <li class="nav-item m-2">
                    <a class="nav-link active text-white" href="/BooksRegistration"
                      >Regis. Book</a
                    >
                  </li>
                <% } %>
              </ul>
            </div>
            <!-- Buscar por titulo de libro -->
            <form
            class="d-flex input-group w-25"
            method="post"
            action="/BooksIndex">
              <input name="searchName" type="text" class="me-3 form-control rounded"
              placeholder="Buscar" width="200" value="<%= nameSearched !== "" ?
              nameSearched : "" %>" />
              <button type="submit" class="border-0 rounded-circle p-1 bg-white">
                <span class="p-2" id="search-addon">
                  <i class="fa fa-search"></i>
                </span>
              </button>
            </form>
            <!-- Buscar por titulo de libro -->
            <div class="w-25 d-flex justify-content-end align-items-center">
              <div class="d-flex justify-content-end align-items-center">
                <% if( session.Role !== "Admin") { %>
                  <a
                  href="/Cesta"
                  class="me-1 d-flex justify-content-center align-items-center"
                  >
                    <p class="text-white">
                      <i
                        class="h3 fa fa-regular fa-bag-shopping d-inline-block align-middle"
                        ></i
                      >
                      <span
                        class="badge badge-danger bg-danger badge-pill position-absolute"
                        style="top: 30px; right: 230px; border-radius: 50%"
                        ><%= totalNoti %>
                      </span>
                    </p>
                  </a>
                <% } %>
                <p class="text-white m-3 ms-5">
                  <%= session.Name + " " + session.LastName %>
                </p>
                <img
                  src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
                  class="rounded-circle"
                  height="45"
                  alt="Portrait of a Woman"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </nav>
        <!-- NAVBAR -->

    <!-- SEPARADOR -->
    <div class="mb-5 mt-5 text-white">.</div>
    <!-- SEPARADOR -->

    <!-- CONTENT -->
    <% result.forEach((book) => { %>

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <!-- Primera parte -->
          <div class="bg-white p-5 d-flex align-items-start border-end border-disable border-1">
            <!-- IMAGE -->
            <div class="w-50 d-flex align-items-center justify-content-center me-4">
              <img src="<%= book.ImagePath %>" alt="" class="w-100 shadow">
            </div>
            <!-- IMAGE -->
            <!-- INFORMATION SIDE -->
            <div class="w-100 d-flex flex-column justify-content-center">
              <h3><strong><%= book.Title %> </strong></h3>
              <p class="text-secondary">
                <strong><%= book.PublishedYear %></strong>
              </p>
              <div class="ms-4 mt-5 mb-5 d-flex flex-row justify-content-center align-items-center">
                <% if( book.firstGenre !== "") { %>
                  <div class="bg-dark text-white p-2 rounded ms-2" style="font-size: 75%;"><%= book.firstGenre %></div>
                <% } %>  
                <% if( book.secondGenre !== "") { %>
                  <div class="bg-dark text-white p-2 rounded ms-2" style="font-size: 75%;"><%= book.secondGenre %></div>
                <% } %>  
                <% if( book.thirdGenre !== "") { %>
                  <div class="bg-dark text-white p-2 rounded ms-2" style="font-size: 75%;"><%= book.thirdGenre %></div>
                <% } %>  
              </div>
              <strong class="h5 mb-2">Resumen de <%= book.Title  %> </strong>
              <p id="description" style="font-family: 'Times New Roman', Times, serif;" class="h5 mt-2">
                -<%= book.Description.replace(/\./g, ".\n") %>
              </p>
            </div>
            <!-- INFORMATION SIDE -->

            <!-- FICHA TECNICA -->
            <!-- FICHA TECNICA -->
          </div>
        </div>
        <div class="col-sm-3">
          <!-- Segunda parte -->
          <div class="bg-white p-4">
            <div>
              <% if ( book.Stock <= 5 && book.Stock >= 1 ) { %>
                <div class="d-flex flex-row">
                  <p class="fs-5 me-4 text-decoration-line-through text-danger">$<%= book.Price %></p>
                  <span style="font-size: 100%; height: 15%;" class="bg-danger p-1 text-white w-100">-15% de dto. excusivo</span>
                </div>
                <p class="h2 me-4">$<%= book.Discount %></p>
              <% } else { %>
                <p class="h2 text-<%= book.Stock <= 5 && book.Stock <= 1 ? "dark text-decoration-line-through" : "black" %>  me-4">$<%= book.Price %></p>
              <% } %>
              <p class="w-100 <%= book.Stock <= 5 && book.Stock > 1 ? "text-success" : "text-decoration-line-through" %> ">
                <i class="fa fa-solid fa-truck"></i><%= book.Stock <= 5 && book.Stock > 1 ? "¡ENVÍO GRATIS! " : "¡ENVÍO GRATIS! " %>
              </p>
            </div>
            <!-- BOTON DE COMPRA -->
            <div>
              <% if (book.Stock !== 0 && session.Role !== "Admin") { %>
                <button
                  class="mx-aut border-0 text-white rounded p-2 mt-2 h5"
                  id="btnComprar"
                  onclick="document.getElementById('myModal').style.display='block'"
                >
                  Comprar
                </button>
                <% } else if ( session.Role === "Admin") { %>
                  <button
                  class="mx-aut w-100 bg-disable border-0 text-white rounded p-2 mt-2 h5"
                  id=""
                  >
                    Comprar
                  </button>
                <% } else {%>
                <button
                  class="mx-auto border-0 text-white rounded p-2 mt-2 h5 w-100"
                  style="width: 200px"
                  id="btnComprarDisabled"
                  onclick="document.getElementById('myModal').style.display='block'"
                  disabled
                >
                  Agotado
                </button>
                <% } %>
            </div>
            <!-- BOTON DE AGREGAR AL CARRITO -->
            <form action="/AddToCar" method="post">
              <!-- informaciones necesarias para el carrito -->
              <input type="text" hidden value="<%= book.bookID %>" name="bookIdCar">
              <input type="text" hidden value="<%= book.Title %>" name="bookTitleCar">
              <input type="text" hidden value="<%= book.ImagePath %>" name="imagePathCar">
              <input type="text" hidden value="<%= book.Price %>" name="bookPriceCar">
              <!-- informaciones necesarias para el carrito -->
              <% if ( book.Stock !== 0 ) { %>
                <% if ( session.Role !== 'Admin')  { %>
                  <div class="mt-2 w-100 mb-3 d-flex flex-row justify-content-center align-items-center">
                    <button type="submit" class="btn btn-outline-success w-75" data-mdb-ripple-color="dark">Añadir a la cesta</button>
                  </div>
                <% } %>
              <% } else { %>
                <div class="mt-2 mb-3 d-flex flex-row justify-content-center align-items-center">
                  <a href="#" class="btn btn-outline-success text-decoration-line-through" data-mdb-ripple-color="dark">Añadir a la cesta</a>
                </div>
              <% } %>   
            </form>
            <!-- INCREIBLES OFERTAS -->
            <h6 class="p-2 text-center text-white fw-bold" style="background-color: #004D43;">
              <i class="fa fa-solid fa-gift"></i> Recibe increibles ofertas! 
            </h6>
            <!-- GUARDAR COMO FAVORITOS -->
            <div class="d-flex flex-row align-items-center justify-content-center mt-5">
              <form action="/SaveFavorites" method="post">
                <input
                  type="text"
                  hidden
                  name="bookId"
                  id="bookId"
                  value="<%= book.bookID %>"
                />
                <button class="bg-white btn-outline border-0 <%= favoriteChecked === false ? "text-black" : "text-danger" %>">
                  <i class="fa fa-regular fa-heart me-1 <%= favoriteChecked === false ? "text-black" : "text-danger" %>"></i>
                  FAVORITO
                </button>
              </form>
            </div>
            <!-- GUARDAR COMO FAVORITOS -->
            <!-- ELIMINAR Y EDITAR -->
            <div class="mt-5 d-flex flex-row align-items-center justify-content-around">
              <% if ( session.Role === "Admin") { %>
                <form action="/EditBook" method="post">
                  <input
                    type="text"
                    hidden
                    name="bookId"
                    id="bookId"
                    value="<%= book.bookID %>"
                  />
                  <button class=" p-2 rounded border bg-primary text-white">
                    <i class="fa fa-solid fa-marker"></i>
                    Editar
                  </button>
                </form>
                <form action="/DeleteBook" method="post">
                  <input
                    type="text"
                    hidden
                    name="bookId"
                    id="bookId"
                    value="<%= book.bookID %>"
                  />
                  <button class="bg p-2 rounded border bg-danger text-white">
                    <i class="fa fa-sharp fa-solid fa-trash"></i>
                    Eliminar
                  </button>
                </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="position-relative mt-5 mb-5">
        <hr class="border-top border-secondary mt-n2">
        <span class="position-absolute top-0 start-50 translate-middle bg-white px-4 fs-4" style="font-family: 'Source Serif Pro';">Informacion Extra</span>
      </div>
      

      <div class="d-flex flex-row justify-content-between">
          <!-- SINOPSIS -->
        <div class="bg-white p-3 w-50 me-4">
          <h4 class="fs-5 text-secondary">SINOPSIS</h4>
          <p id="" class="">
            <%= book.Description.replace(/\./g, ".\n").substr(0, 500) %>
          </p>
        </div>
        <!-- SINOPSIS -->

        <!-- FICHA TECNICA -->
        <div class=" bg-white w-50 border-start border-disable border-1">
          <div class="ms-5">
              <h4 class="text-secondary">Ficha tecnica</h4>
            <div class="d-flex flex-row justify-content-around align-items-center">
              <div>
                <strong>Paginas</strong>
                <p><%= book.bookPages %> </p>
                <strong>Stock en venta</strong>
                <p><%= book.Stock %></p>
                <input
                  type="text"
                  hidden
                  value="<%= book.Stock %>"
                  id="inputBookStock"
                />
                <strong>Idioma</strong>
                <p><%= book.bookLanguages%> </p> 
              </div>
              <div>
                <strong>Autor</strong>
                <p><%= book.Autor %></p>
                <strong>Encuardernacion</strong>
                <p><%= book.PublishedYear < 2000 ? "Tapa blanda" : "Tapa gruesa" %> </p>
                <strong>Año de publicacion</strong>
                <p><%= book.PublishedYear %></p>
              </div>
              <div>
                <% if( book.firstGenre !== "") { %>
                  <strong>Ficcion</strong>
                  <p><%= book.firstGenre %> </p>
                <% } %>  
                <% if( book.secondGenre !== "") { %>
                  <strong>No Ficcion</strong>
                  <p><%= book.secondGenre %> </p>
                <% } %>  
                <% if( book.thirdGenre !== "") { %>
                  <strong>Comic y Manga</strong>
                  <p><%= book.thirdGenre %> </p>
                <% } %>  
              </div>
            
            </div>
          </div>
        </div>
        <!-- FICHA TECNICA -->
      </div>

      <div class="position-relative mt-5 mb-5">
        <hr class="border-top border-secondary mt-n2">
        <span class="position-absolute top-0 start-50 translate-middle bg-white px-4 fs-4" style="font-family: 'Source Serif Pro';">Opiniones sobre <%= book.Title %> </span>
      </div>

      <div class="d-flex justify-content-center flex-column align-items-center w-100">
        <button id="toggle-form" class="btn btn-primary mb-3 w-25">Añadir comentario</button>
        <!-- Formulario oculto por defecto -->
        <form id="comment-form" action="/SaveComment" method="post" class="d-none w-75">
          <input type="text" hidden value="<%=book.bookID%>" name="bookIdComment">
          <section class="mb-3">
            <div class="container text-dark">
              <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                          src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar" width="65"
                          height="65" />
                        <div class="w-100">
                          <h5>Agrega un comentario ya!</h5>
                          <div class="form-outline">
                            <textarea class="form-control" name="commentText" id="textAreaExample" rows="4"></textarea>
                            <label class="form-label" for="textAreaExample">Cual es tu punto de vista?</label>
                          </div>
                          <div class="d-flex justify-content-between mt-3">
                            <button type="submit" class="btn btn-danger">
                              Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
        <!-- FORMULARIO OCULTO POR DEFECTO -->

        <!-- LISTA DE COMENTARIOS -->
        <div id="first-comments" class="w-100">
          <% comments.slice(0, 2).forEach((item) => { %>
            <!-- Código de un comentario -->
            <div class="d-flex flex-start mb-4">
              <!-- <img class="rounded-circle me-3 border border-1 border-disable"
                src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar" width="65"
                height="65" /> -->
              <div class="card w-100 border-disable">
                <div class="card-body p-4">
                  <div class="d-flex flex-row justify-content-between align-items-start">
                    <div>
                      <h5><%= item.userFullName %></h5>
                      <p class="small"><%= item.commentDate %></p>
                    </div>
                    <div class="w-100 d-flex flex-row justify-content-start">
                      <p>
                        <%= item.commentText %>
                      </p>
                    </div>
    
                    <div class="d-flex justify-content-between align-items-center">
                      <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                      <div class="d-flex align-items-center">
                        <form action="/LikeComment" method="post">
                          <input type="text" hidden value="<%= book.bookID %>" name="commnetBookId">
                          <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                          <button type="submit" class="me-2 btn-outline border-0 bg-white text-success"><i class="fas fa-thumbs-up me-1"></i><%= item.totalLikes %></button>
                        </form>
                        <form action="/DisLikeComment" method="post">
                          <input type="text" hidden value="<%= book.bookID %>" name="commnetBookId">
                          <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                          <button type="submit" class="me-2 btn-outline border-0 bg-white text-danger"><i class="fas fa-thumbs-down me-1"></i><%= item.totalDisLikes %></button>
                        </form>
                      </div>
                      <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                      <!-- <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>

        <!-- Contenedor de los restantes comentarios -->
        <div id="remaining-comments" class="w-100" style="display: none;">
          <% comments.slice(2).forEach((item) => { %>
            <!-- Código de un comentario -->
            <div class="d-flex flex-start mb-4">
              <!-- <img class="rounded-circle me-3 border border-1 border-disable"
                src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar" width="65"
                height="65" /> -->
                <div class="card w-100 border-disable">
                  <div class="card-body p-4">
                    <div class="d-flex flex-row justify-content-between align-items-start">
                      <div>
                        <h5><%= item.userFullName %></h5>
                        <p class="small"><%= item.commentDate %></p>
                      </div>
                      <div class="w-100 d-flex flex-row justify-content-start">
                        <p>
                          <%= item.commentText %>
                        </p>
                      </div>
      
                      <div class="d-flex justify-content-between align-items-center">
                        <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                        <div class="d-flex align-items-center">
                          <form action="/LikeComment" method="post">
                            <input type="text" hidden value="<%= book.bookID %>" name="commnetBookId">
                            <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                            <button type="submit" class="me-2 btn-outline border-0 bg-white text-success"><i class="fas fa-thumbs-up me-1"></i><%= item.totalLikes %></button>
                          </form>
                          <form action="/DisLikeComment" method="post">
                            <input type="text" hidden value="<%= book.bookID %>" name="commnetBookId">
                            <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                            <button type="submit" class="me-2 btn-outline border-0 bg-white text-danger"><i class="fas fa-thumbs-down me-1"></i><%= item.totalDisLikes %></button>
                          </form>
                        </div>
                        <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                        <!-- <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a> -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% }) %>
        </div>

        <% if ( comments.length !== 0 && comments.length > 2 ) { %>
          <a id="load-more" style="background-color: #D9017A;" class="btn w-100 text-white mb-5">Cargar más comentarios</a>
          <a id="hideCommentsBtn" class="btn btn-primary w-100 text-white mb-5" style="display: none; background-color: #D9017A;">Ocultar comentarios</a>
        <% } %>  
        <!-- LISTA DE COMENTARIOS -->
      </div>
      
    </div>
    
    <!-- Modal  PARA COMPRAR-->
    <div id="myModal" class="modal">
      <!-- Modal contenido -->
      <div
        class="modal-content d-flex justify-content-around align-items-center flex-column w-50"
      >
        <h4>Está comprando <%= book.Title %></h4>
        <h5>¿Está seguro de que desea continuar?</h5>
        <div
          class="d-flex flex-column justify-content-center align-items-center w-50"
        >
          <form
            action="/BuyBooks"
            method="post"
            onsubmit="return validarCantidad()"
          >
            <input
              type="number"
              id="cantidad"
              name="cantidad"
              class="form-control mb-3"
              placeholder="Introduzca la cantidad"
            />
            <input type="text" hidden name="totalAmount" value="<%= book.Price %>">
            <input
              type="text"
              hidden
              name="bookId"
              id="bookId"
              value="<%= book.bookID %>"
            />
            <h5>Cantidad disponible <strong><%= book.Stock %></strong></h5>
            <div class="d-flex justify-content-center align-items-center w-100">
              <a
                class="btn btn-danger me-2"
                href="/BooksInformation?bookID=<%= book.bookID %>"
              >
                No
              </a>
              <button class="btn btn-success" type="submit">Sí</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% }) %>
    <!-- CONTENT -->

    <!-- Modal PARA EL ERROR DE COMPRA-->
    <div id="myModal2" class="modal border-0" style="background: transparent">
      <!-- Modal contenido -->
      <div
        class="modal-content w-25 border-0"
        style="background: transparent; margin-left: 43%"
      >
        <div
          class="card text-white bg-danger mb-3 me-5"
          style="max-width: 18rem"
        >
          <div class="card-header">No te paces de listo</div>
          <div class="card-body">
            <h5 class="card-title">Cantidad equivocada</h5>
            <p class="card-text">
              No introduciste una cantidad o la cantidad es mayor a la
              disponible
            </p>
          </div>
          <button
            class="close border-0 bg-dark text-white"
            onclick="document.getElementById('myModal2').style.display='none'"
          >
            &times;
          </button>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <!-- MODAL SUCCESS ( COMPRA COMPLETADA ) -->
    <div class="popup center">
      <div class="icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="title">Completado!!</div>
      <div class="description">
        Su compra ha sido realizada con exito, esperamos que disfrute de su
        nueva adquisicion.
      </div>
      <div class="dismiss-btn">
        <button id="dismiss-popup-btn">Cerrar</button>
      </div>
    </div>
    <!-- MODAL SUCCESS ( COMPRA COMPLETADA ) -->

    <!-- MODAL ERROR ADDING TO CAR -->
    <div class="popup center border border-2 border-disable" id="errorAddingToCarModal">
      <div class="iconx">
        <p class="h1 text-danger fw-bold">X</p>
      </div>
      <div class="title">Error!</div>
      <div class="description">
        No puedes agregar este libro mas veces que 
        la de su cantidad disponible.
      </div>
      <div class="dismiss-btn">
        <button id="errorAddingToCarBtn">Cerrar</button>
      </div>
    </div>
    <!-- MODAL ERROR ADDING TO CAR -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/jqueryForBooksInformacion.js"></script>

    <script src="scripts/modalSuccess.js"></script>
    <script src="scripts/shoppingModals.js"></script>
    <script src="scripts/commentSection.js"></script>
  </body>
</html>