<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books information</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles2.css" />
    <link rel="stylesheet" href="css/btnModelStyle.css" />
    <link rel="stylesheet" href="css/successModal.css" />
    <script
      src="https://kit.fontawesome.com/b55d7e5cd9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="contenedorSupremo">
        <!-- NAVBAR -->
        <nav class="navbar navbar-black bg-black">
          <div class="container-fluid">
            <div class="d-flex flex-row align-items-center">
              <a class="navbar-brand text-white" href="/Home"
                ><h1 class="display-6">Biblos</h1></a
              >
              <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item m-2">
                  <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="/Home"
                    >Home</a
                  >
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/BooksIndex"
                    >Books</a
                  >
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/Favorites"
                    >Favorites</a
                  >
                </li>
                <% if( session.Role === "Admin") { %>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/"
                    >admin. users</a
                  >
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link active text-white" href="/BooksRegistration"
                    >Regis. Book</a
                  >
                </li>
                <% } %>
              </ul>
            </div>
            <div class="w-25 d-flex justify-content-end align-items-center">
              <div class="d-flex justify-content-end align-items-center">
                <p class="text-white m-3">
                  <%= session.Name + " " + session.LastName %>
                </p>
                <img
                  src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
                  class="rounded-circle"
                  height="45"
                  alt="Portrait of a Woman"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </nav>
        <!-- NAVBAR -->

    <!-- CONTENT -->
    <% result.forEach((book) => { %>
    <div class="d-flex flex-row">
      <div>
        <div
          id="grandFather"
          class="p-5 me-5 mx-auto w-75 d-flex mt-5 shadow p-3 mb-5 bg-white rounded m-0"
        >
          <!-- Image part -->
          <div id="imageSide" class="me-5">
            <img
              src="<%= book.ImagePath %>"
              alt=""
              width="300"
              class="rounded shadow"
            />
          </div>

          <!-- Information part -->
          <div id="informationSide" class="ms-5">
            <h3><strong><%= book.Title %></strong></h3>
            <h5><%= book.Autor %></h5>
            <p class="text-secondary">
              <strong><%= book.PublishedYear %></strong>
            </p>

            <div
              class="ms-4 mt-5 d-flex flex-row justify-content-center align-items-center"
            >
              <div class="bg-dark text-white p-2 rounded ms-2">Action</div>
              <div class="bg-dark text-white p-2 rounded ms-2">Romance</div>
              <div class="bg-dark text-white p-2 rounded ms-2">Thriller</div>
            </div>

            <strong>Resumen</strong>
            <p><%= book.Description %></p>
          </div>
        </div>
        <div
          class="p-5 mx-auto w-75 d-flex flex-column mt-5 shadow p-3 mb-5 bg-white rounded me-5"
        >
          <h4 class="text-secondary">Ficha tecnica</h4>
          <div
            class="d-flex flex-row justify-content-around align-items-center"
          >
            <div>
              <strong>Paginas</strong>
              <p>400</p>
              <strong>Stock en venta</strong>
              <p><%= book.Stock %></p>
              <input
                type="text"
                hidden
                value="<%= book.Stock %>"
                id="inputBookStock"
              />
            </div>
            <div>
              <strong>Autor</strong>
              <p><%= book.Autor %></p>
              <strong>Editorial</strong>
              <p>LIBROS DEL ASTEROIDE</p>
              <strong>Año de publicacion</strong>
              <p><%= book.PublishedYear %></p>
            </div>
          </div>
          <hr>
          <div>
            <h4 class="text-secondary">Comments section</h4>
            <button id="toggle-form" class="btn btn-primary mb-3">Añadir comentario</button>
            <!-- Formulario oculto por defecto -->
            <form id="comment-form" action="/SaveComment" method="post" class="d-none">
              <input type="text" hidden value="<%=book.bookID%>" name="bookIdComment">
              <section class="mb-3">
                <div class="container text-dark">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                              src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar" width="65"
                              height="65" />
                            <div class="w-100">
                              <h5>Agrega un comentario ya!</h5>
                              <div class="form-outline">
                                <textarea class="form-control" name="commentText" id="textAreaExample" rows="4"></textarea>
                                <label class="form-label" for="textAreaExample">Cual es tu punto de vista?</label>
                              </div>
                              <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-danger">
                                  Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </form>
            <!-- Listado de comentarios -->
            <!-- Contenedor de los primeros 5 comentarios -->
            <div id="first-comments">
              <% comments.slice(0, 2).forEach((item) => { %>
                <!-- Código de un comentario -->
                <div class="d-flex flex-start mb-4">
                  <img class="rounded-circle shadow-1-strong me-3"
                    src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar" width="65"
                    height="65" />
                  <div class="card w-100">
                    <div class="card-body p-4">
                      <div class="">
                        <h5><%= item.userFullName %></h5>
                        <p class="small"><%= item.commentDate %></p>
                        <p>
                          <%= item.commentText %>
                        </p>
        
                        <div class="d-flex justify-content-between align-items-center">
                          <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                          <div class="d-flex align-items-center">
                            <form action="/LikeComment" method="post">
                              <input type="text" hidden value="<%= book.bookID %>" name="commnetBookId">
                              <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                              <button type="submit" class="me-2 btn-outline border-0 bg-white text-success"><i class="fas fa-thumbs-up me-1"></i><%= item.totalLikes %></button>
                            </form>
                            <form action="/DisLikeComment" method="post">
                              <input type="text" hidden value="<%= book.bookID %>" name="commnetBookId">
                              <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                              <button type="submit" class="me-2 btn-outline border-0 bg-white text-danger"><i class="fas fa-thumbs-down me-1"></i><%= item.totalDisLikes %></button>
                            </form>
                          </div>
                          <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                          <!-- <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
            

            <!-- Contenedor de los restantes comentarios -->
            <div id="remaining-comments" style="display: none;">
              <% comments.slice(2).forEach((item) => { %>
                <!-- Código de un comentario -->
                <div class="d-flex flex-start mb-4">
                  <img class="rounded-circle shadow-1-strong me-3"
                    src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar" width="65"
                    height="65" />
                  <div class="card w-100">
                    <div class="card-body p-4">
                      <div class="">
                        <h5><%= item.userFullName %></h5>
                        <p class="small"><%= item.commentDate %></p>
                        <p>
                          <%= item.commentText %>
                        </p>
        
                        <div class="d-flex justify-content-between align-items-center">
                          <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                          <div class="d-flex align-items-center">
                            <form action="/LikeComment" method="post">
                              <input type="text" hidden value="<%= item.commentID %>" name="commentId">
                              <button type="submit" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i><%= item.totalLikes %></button>
                            </form>
                            <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>0</a>
                          </div>
                          <!-- SECCION Y FUNCIONAMIENTO DE LIKES -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
            <a id="load-more" class="mt-3">Cargar más comentarios</a>
            <a id="hideCommentsBtn" class="pointer" style="display: none;">Ocultar comentarios</a>
            <!-- Listado de comentarios -->
          </div>
        </div>
      </div>
      <div
        class="p-5 me-5 mx-aut w-50 d-flex flex-column mt-5 shadow p-3 mb-5 bg-white rounded m-0 align-self-start"
      >
        <div class="d-flex justify-content-end align-items-end">
          <p class="h2 text-danger me-4">$<%= book.Price %></p>
          <p class="fw-bold <%= book.Stock <= 5 && book.Stock > 1 ? "text-success" : "text-decoration-line-through" %> ">
            <%= book.Stock <= 5 && book.Stock > 1 ? "¡ENVÍO GRATIS!" : "¡ENVÍO GRATIS!" %>
          </p>
        </div>
        <% if (book.Stock !== 0) { %>
        <button
          class="mx-auto border-0 text-white rounded shadow p-2 mt-2 h5"
          style="width: 200px"
          id="btnComprar"
          onclick="document.getElementById('myModal').style.display='block'"
        >
          Comprar
        </button>
        <% } else {%>
        <button
          class="mx-auto border-0 text-white rounded shadow p-2 mt-2 h5"
          style="width: 200px"
          id="btnComprarDisabled"
          onclick="document.getElementById('myModal').style.display='block'"
          disabled
        >
          Agotado
        </button>
        <% } %>
        <div class="mt-2">
          <!-- <p class="fw-bold">Recibelo mas rapido que nunca</p>
                  <p><strong>Disponibilidad:</strong> 10 </p> -->
        </div>
        <h6 class="p-2 text-center text-white fw-bold shadow bg-success">
          Recibe increibles ofertas!
        </h6>
        <div class="d-flex justify-content-around align-items-center mt-5">
          <form action="/SaveFavorites" method="post">
            <input
              type="text"
              hidden
              name="bookId"
              id="bookId"
              value="<%= book.bookID %>"
            />
            <button class="bg p-2 rounded border shadow bg-dark text-white">
              <i class="fa fa-regular fa-heart me-1 <%= favoriteChecked === false ? "text-white" : "text-danger" %> "></i>
              Guardar
            </button>
          </form>
          <button class="bg p-2 rounded border shadow bg-dark text-white">
            <i class="fa fa-solid fa-copy me-1"></i>
            Copy link
          </button>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5">
          <% if ( session.Role === "Admin") { %>
            <form action="/EditBook" method="post">
              <input
                type="text"
                hidden
                name="bookId"
                id="bookId"
                value="<%= book.bookID %>"
              />
              <button class="bg p-2 rounded border shadow bg-primary text-white">
                <i class="fa fa-solid fa-marker"></i>
                Editar
              </button>
            </form>
            <form action="/DeleteBook" method="post">
              <input
                type="text"
                hidden
                name="bookId"
                id="bookId"
                value="<%= book.bookID %>"
              />
              <button class="bg p-2 rounded border shadow bg-danger text-white">
                <i class="fa fa-sharp fa-solid fa-trash"></i>
                Eliminar
              </button>
            </form>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Modal  PARA COMPRAR-->
    <div id="myModal" class="modal">
      <!-- Modal contenido -->
      <div
        class="modal-content d-flex justify-content-around align-items-center flex-column w-50"
      >
        <h4>Está comprando <%= book.Title %></h4>
        <h5>¿Está seguro de que desea continuar?</h5>
        <div
          class="d-flex flex-column justify-content-center align-items-center w-50"
        >
          <form
            action="/BuyBooks"
            method="post"
            onsubmit="return validarCantidad()"
          >
            <input
              type="number"
              id="cantidad"
              name="cantidad"
              class="form-control mb-3"
              placeholder="Introduzca la cantidad"
            />
            <input
              type="text"
              hidden
              name="bookId"
              id="bookId"
              value="<%= book.bookID %>"
            />
            <h5>Cantidad disponible <strong><%= book.Stock %></strong></h5>
            <div class="d-flex justify-content-center align-items-center w-100">
              <a
                class="btn btn-danger me-2"
                href="/BooksInformation?bookID=<%= book.bookID %>"
              >
                No
              </a>
              <button class="btn btn-success" type="submit">Sí</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% }) %>
    <!-- CONTENT -->

    <!-- Modal PARA EL ERROR DE COMPRA-->
    <div id="myModal2" class="modal border-0" style="background: transparent">
      <!-- Modal contenido -->
      <div
        class="modal-content w-25 border-0"
        style="background: transparent; margin-left: 43%"
      >
        <div
          class="card text-white bg-danger mb-3 me-5"
          style="max-width: 18rem"
        >
          <div class="card-header">No te paces de listo</div>
          <div class="card-body">
            <h5 class="card-title">Cantidad equivocada</h5>
            <p class="card-text">
              No introduciste una cantidad o la cantidad es mayor a la
              disponible
            </p>
          </div>
          <button
            class="close border-0 bg-dark text-white"
            onclick="document.getElementById('myModal2').style.display='none'"
          >
            &times;
          </button>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <!-- MODAL SUCCESS ( COMPRA COMPLETADA ) -->
    <div class="popup center">
      <div class="icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="title">Completado!!</div>
      <div class="description">
        Su compra ha sido realizada con exito, esperamos que disfrute de su
        nueva adquisicion.
      </div>
      <div class="dismiss-btn">
        <button id="dismiss-popup-btn">Cerrar</button>
      </div>
    </div>
    <!-- MODAL SUCCESS ( COMPRA COMPLETADA ) -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- JavaScript para ocultar/mostrar el formulario -->
    <script>
      var form = document.getElementById("comment-form");
      var toggleButton = document.getElementById("toggle-form");

      toggleButton.addEventListener("click", function() {
        form.classList.toggle("d-none");
        if (form.classList.contains("d-none")) {
          toggleButton.textContent = "Mostrar formulario";
        } else {
          toggleButton.textContent = "Ocultar formulario";
        }
      });
    </script>

    <script src="scripts/modalSuccess.js"></script>
    <script src="scripts/shoppingModals.js"></script>
    <script src="scripts/commentSection.js"></script>
  </body>
</html>
