<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
    />
    <script
    src="https://kit.fontawesome.com/b55d7e5cd9.js"
    crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/Cesta.css">
  </head>
  <body style="background-color: #EAEDED;">
    <!-- NAVBAR -->
    <nav class="navbar navbar-black bg-black fixed-top mb-5">
      <div class="container-fluid">
        <div class="d-flex flex-row align-items-center">
          <a class="navbar-brand text-white" href="/Home"
            ><h1 class="display-6">Biblos</h1></a
          >
          <ul class="navbar-nav d-flex flex-row align-items-center">
            <li class="nav-item m-2">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="/Home"
                >Home</a
              >
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" href="/BooksIndex">Books</a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" href="/Favorites"
                >Favorites</a
              >
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" href="/Favorites">Cesta</a>
            </li>
            <% if( session.Role === "Admin") { %>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" href="/">admin. users</a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" href="/BooksRegistration"
                >Regis. Book</a
              >
            </li>
            <% } %>
          </ul>
        </div>
        <div class="w-25 d-flex justify-content-end align-items-center">
          <div class="d-flex justify-content-end align-items-center">
            <a href="/Cesta" class="me-1 d-flex justify-content-center align-items-center">
              <p class="text-white">
                <i class="h3 fa fa-regular fa-bag-shopping d-inline-block align-middle"></i>
                <span class="badge badge-danger bg-danger badge-pill position-absolute" style="top: 30px; right: 230px; border-radius: 50%;"><%= totalNoti %> </span>
              </p>
            </a>
            <p class="text-white m-3 ms-5">
              <%= session.Name + " " + session.LastName %>
            </p>
            <img
              src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
              class="rounded-circle"
              height="45"
              alt="Portrait of a Woman"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </nav>
    <!-- NAVBAR -->

    <!-- SEPARADOR -->
    <div class="text-white mt-5 mb-5">.</div>
    <!-- SEPARADOR -->

    <!-- CONTENIDO PARA LA CESTA -->
    
      <div class="container p-1 divContainer">
        <div class="bg-white w-100 p-4">
          <div class="d-flex align-items-center justify-content-between">
            <h3>Cesta</h3>
            <p class="mt-5 mb-0 fw-medium">Precio</p>
          </div>
          <hr>
          <% allShoppingCar.forEach((item) => { %>
          <div class=" d-flex flex-row">
            <div>
              <img src="<%= item.bookImagePath %>" width="120" alt="">
            </div>
            <div class="w-100 ms-5">
              <p class="fs-5 fw-medium"><%= item.bookTitle %></p>
              <p class="fw-bold" style="font-size: 15px;">Tapa blanda</p>
              <p class="" style="font-size: 15px; color: yellowgreen;">diponible</p>
              <a href="" id="moreInformation">Mas informacion</a>
              <div class="d-flex flex-row justify-content-start align-items-center mt-2">
                <p id="bookAmountQuantity" class="me-2 shadow">Cant.: <%= item.bookAmount %> </p>
                <p>|</p>
                <p id="deleteBook" class="text-primary">Eliminar</p>
              </div>
            </div>
            <div>
              <p class="fw-bold fs-4">US$<%= item.bookPrice %> </p>
            </div>
          </div>
          <hr>
          <% }) %> 
          <div class="d-flex mt-0 justify-content-end">
            <p class="fs-5">Subtotal (1 producto): <strong class="fs-4">US$<%= subtotal %></strong></p>
          </div>
        </div>
      </div> 
    <!-- CONTENIDO PARA LA CESTA -->

    <div class="mt-5 mb-5">.</div>
  </body>
</html>