<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sig in</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
    <!-- CODIGO PARA PERSONALIZAR -->
    <form method="POST" action="/SignIn" class="d-block mx-auto w-25 d-flex justify-content-center flex-column align-items-center">
      <h1 class="text-center m-3">Biblo Sig in</h1>

      <div>
        <% if( typeof userFound !== 'undefined' && userFound === false ) {%>
          <p class="alert alert-danger" role="alert"><%= "Usuario no encontrado, por favor verifique los datos" %></p>
        <% } %>
      </div>

      <div>
        <% if( typeof validPassword !== 'undefined' && validPassword === false ) {%>
          <p class="alert alert-danger" role="alert"><%= "Contraseña o nombre de usuario incorrectos, por favor intente de nuevo" %></p>
        <% } %>
      </div>

      <div>
        <% if( typeof userFound !== 'undefined' && emailConfirmation !== 'undefined' && userFound === true && emailConfirmation === false ) {%>
          <p class="alert alert-danger" role="alert"><%= "El usuario aun no ha confirmado su correo electronico, no puede continuar" %></p>
        <% } %>
      </div>

      <label for="userName">Nombre de usuario:</label>
      <input type="text" id="userName" name="userName" class="form form-control m-3 <%= (typeof inputValid !== 'undefined' ? inputValid : '' ) %>" />

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" class="form form-control m-3 <%= (typeof inputValid !== 'undefined' ? inputValid : '' ) %>" />

      <button type="submit" class="btn btn-primary m-3">Iniciar sesion</button>
      <a href="/Register" class="m-3">Crear Nueva Cuenta</a>
    </form>
  
    <!-- CODIGO PARA PERSONALIZAR -->

    <script>
      window.history.replaceState({ page: 'home' }, 'Home', '/');

      window.history.pushState({ page: 'error' }, 'Error', '/');

      window.addEventListener('popstate', (event) => {
        if (event.state && event.state.page === 'error') {
          window.location.href = '/SignIn';
        }
      });
    </script>
  </body>
</html>
